<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouc.mallmbg.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ouc.mallmbg.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="state_message" jdbcType="VARCHAR" property="stateMessage" />
    <result column="is_root" jdbcType="BIT" property="isRoot" />
    <result column="category" jdbcType="CHAR" property="category" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, user_pwd, user_email, user_image, gender, phone_number, state_message, 
    is_root, category
  </sql>
  <select id="selectByExample" parameterType="com.ouc.mallmbg.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ouc.mallmbg.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ouc.mallmbg.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (user_name, user_pwd, user_email, 
      user_image, gender, phone_number, 
      state_message, is_root, category
      )
    values (#{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 
      #{userImage,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{stateMessage,jdbcType=VARCHAR}, #{isRoot,jdbcType=BIT}, #{category,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ouc.mallmbg.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="stateMessage != null">
        state_message,
      </if>
      <if test="isRoot != null">
        is_root,
      </if>
      <if test="category != null">
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="stateMessage != null">
        #{stateMessage,jdbcType=VARCHAR},
      </if>
      <if test="isRoot != null">
        #{isRoot,jdbcType=BIT},
      </if>
      <if test="category != null">
        #{category,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ouc.mallmbg.model.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.userName != null">
        user_name = #{row.userName,jdbcType=VARCHAR},
      </if>
      <if test="row.userPwd != null">
        user_pwd = #{row.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="row.userEmail != null">
        user_email = #{row.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="row.userImage != null">
        user_image = #{row.userImage,jdbcType=VARCHAR},
      </if>
      <if test="row.gender != null">
        gender = #{row.gender,jdbcType=CHAR},
      </if>
      <if test="row.phoneNumber != null">
        phone_number = #{row.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="row.stateMessage != null">
        state_message = #{row.stateMessage,jdbcType=VARCHAR},
      </if>
      <if test="row.isRoot != null">
        is_root = #{row.isRoot,jdbcType=BIT},
      </if>
      <if test="row.category != null">
        category = #{row.category,jdbcType=CHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{row.id,jdbcType=INTEGER},
      user_name = #{row.userName,jdbcType=VARCHAR},
      user_pwd = #{row.userPwd,jdbcType=VARCHAR},
      user_email = #{row.userEmail,jdbcType=VARCHAR},
      user_image = #{row.userImage,jdbcType=VARCHAR},
      gender = #{row.gender,jdbcType=CHAR},
      phone_number = #{row.phoneNumber,jdbcType=VARCHAR},
      state_message = #{row.stateMessage,jdbcType=VARCHAR},
      is_root = #{row.isRoot,jdbcType=BIT},
      category = #{row.category,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouc.mallmbg.model.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="stateMessage != null">
        state_message = #{stateMessage,jdbcType=VARCHAR},
      </if>
      <if test="isRoot != null">
        is_root = #{isRoot,jdbcType=BIT},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouc.mallmbg.model.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_image = #{userImage,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      state_message = #{stateMessage,jdbcType=VARCHAR},
      is_root = #{isRoot,jdbcType=BIT},
      category = #{category,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>